@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
    --p-color: #dddddd;
    --s-color: #fab7b7;
    --t-color: #f5a8a8;
    --q-color: #e19999;
    --font-color: black;
}
* {
    box-sizing: border-box;
}
body {
    background-color: var(--s-color);
    font-family: Oswald, sans-serif;
}

.mainContianer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 0;
}
.banner {
    background-color: var(--t-color);
    width: 200px;
    height: 50px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    border: 2px solid var(--q-color);
    border-radius: 5px;
    transform: translateY(-200px);
}
.playerControls {
    /* background-color: var(--t-color); */
    width: auto;
    height: 100px;
    margin: 20px;
    padding: 10px;
    display: flex;
    z-index: 300;
    align-items: center;
}

.musicArt {
    width: 120px;
    height: 120px;
    margin-right: 30px;
    border-radius: 50%;
    /* transform: translateY(-50%); */

    animation: rotateAnimation 5s linear infinite;
    animation-play-state: paused;
}
.playAnimation {
    animation-play-state: running;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.playerButton {
    background-color: var(--q-color);
    color: rgba(0, 0, 0, 0.5);
    box-shadow: none;
    border-radius: 5px;
    margin: 0px;
}
.playerButton:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.1);
}
.playerImageAndButtons {
    background-color: var(--s-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 100px;
    z-index: 1000;
    border: 3px solid var(--q-color);
    border-radius: 5px;
    padding: 10px;
}
.progressContainer {
    position: absolute;
    /* top: 0; */
    /* left: 30px; */
    /* right: inherit; */
    width: inherit;
    background-color: var(--p-color);
    height: 100px;
    transform: translate3d(0, -90%, 0);
    transition: transform 0.3s ease-in;
    margin-left: 10px;
    /* z-index: -100; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 130px;
    /* visibility: hidden; */
}
.hideProgress {
    transform: translate3d(0, 0%, 0);
    transition: transform 0.3s ease-in;
}
.musicName {
    /* margin: 0px; */
    font-size: 120%;
    margin: 10px;
    padding: 4px;
}
.progressBar {
    width: 150px;
    height: 4px;
    background-color: var(--s-color);
    cursor: pointer;
    margin-right: 10px;
    padding-right: 10px;
}
.progressed {
    width: 100px;
    height: 100%;
    background-color: var(--q-color);
}
/* hideProgress */
